<div class="form-container" id="form">
    <h2 class="seq" id="radios_h3">Rate your experience at Aromatic Bar by clicking the checkbox as per your opinon</h2>
        
    <div class="seq radios">
        <p >Please rate the quality of the service you received from your host</p>
        <input type="radio" value="Excellent" id="hostExcellent" name="host_rate"/>
        <label for="hostExcellent">Excellent</label>
        <input type="radio" value="Good" id="hostGood" name="host_rate"/>
        <label for="hostGood">Good</label>
        <input type="radio" value="Fair" id="hostFair" name="host_rate"/>
        <label for="hostFair">Fair</label>
        <input type="radio" value="Bad" id="hostBad" name="host_rate"/>
        <label for="hostBad">Bad</label>
    </div>


    <div class="seq radios">
        <p >Please rate the quality of your beverage</p>
        <input type="radio" value="Excellent" id="bevExcellent" name="bev_rate"/>
        <label for="bevExcellent">Excellent</label>
        <input type="radio" value="Good" id="bevGood" name="bev_rate"/>
        <label for="bevGood">Good</label>
        <input type="radio" value="Fair" id="bevFair" name="bev_rate"/>
        <label for="bevFair">Fair</label>
        <input type="radio" value="Bad" id="bevBad" name="bev_rate"/>
        <label for="bevBad">Bad</label>
    </div>


    <div class="seq radios">
        <p >Was our restaurant clean?</p>
        <input type="radio" value="Excellent" id="cleanExcellent" name="clean_rate"/>
        <label for="cleanExcellent">Excellent</label>
        <input type="radio" value="Good" id="cleanGood" name="clean_rate"/>
        <label for="cleanGood">Good</label>
        <input type="radio" value="Fair" id="cleanFair" name="clean_rate"/>
        <label for="cleanFair">Fair</label>
        <input type="radio" value="Bad" id="cleanBad" name="clean_rate"/>
        <label for="cleanBad">Bad</label>
    </div>


    <div class="seq radios">
        <p >Please rate your overall dining experience</p>
        <input type="radio" value="Excellent" id="overallExcellent" name="overall_rate"/>
        <label for="overallExcellent">Excellent</label>
        <input type="radio" value="Good" id="overallGood" name="overall_rate"/>
        <label for="overallGood">Good</label>
        <input type="radio" value="Fair" id="overallFair" name="overall_rate"/>
        <label for="overallFair">Fair</label>
        <input type="radio" value="Bad" id="overallBad" name="overall_rate"/>
        <label for="overallBad">Bad</label>
    </div>

    <a onclick="validate()" class="cta seq">Next</a>
</div>

<script src="js/animate_FormOpen.js"></script>