<div class="splash-screen">
    <img class="splash-item" id="splash-logo" src="img/aromatic%20logo.png"/>
    <h1 class="splash-item">
        We are committed to providing you with the best 
        dining experience possible, so we welcome your comments. 
    </h1>
    <h2 class="splash-item">
        Please fill out this questionnaire. Thank you.
    </h2>
    <a id="cta1" class="cta splash-item">Proceed</a>

    <script src="js/animate_SplashOpen.js"></script>
    <script src="js/animate_SplashOut.js"></script>

</div>