<div class="splash-screen">
    <img class="splash-item" id="splash-logo" src="img/aromatic%20logo.png"/>
    <h1 class="splash-item">
        Thanks for your feedback! 
    </h1>
    <a id="cta1" class="cta splash-item">Proceed</a>

    <script src="js/animate_SplashOpen.js"></script>
    <script src="js/animate_SplashOut.js"></script>

</div>